/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  line-height: 1.5; /** 150% of font-size **/
  -webkit-font-smoothing: antialiased;
}
/* CSS for the project begins here */
img {
  height: 40px;
  width: 38.67px;
  }

  body {
    background-color: ghostwhite;

  }
  

.testing {
  color: green !important;
  background-color: #fff !important;
}
::selection {
  background-color: blue;
  color: white;
}

.form.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1295px;
  height: 394px;
}

body {
  background-color: ghostwhite;
}

h3 {
  width: 327px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
}
p.top {
  width: 327px;
  height: 50px;
  left: 24px;
}

label, input {
  width: 295px;
  height: 72px;
}

button {
  width: 295px;
  height: 48px;
  left: 335px;
  background-color: turquoise;
  border-color: #fff;
}

#card {
  display: block;
  align-content: center;
  background-color: #fff;
}

/* @media {max-width: 600px} */
